{% if (config.appMode is not defined or config.appMode is not same as('embedded')) and disabled != true %}
  <article class="park-comments-form">
    <div class="park-comments-form__wrapper park-comments-form__default">
      <p class="park-comments-form__headline ">Ihre Meinung zum Thema ist gefragt</p>
      {% if headline.text %}
        <{{ headline.tag }} class="park-comments-form__paragraph">
          {{ headline.text }}
        </{{ headline.tag }}>
      {% else %}
        <p class="park-comments-form__paragraph park-comments-form__inline"> Schreiben Sie jetzt Ihre Meinung zu: </p>
        <{{ seoheadline.tag }} aria-hidden="true" class="park-comments-form__paragraph park-comments-form__inline">
          {{ seoheadline.text }}
        </{{ seoheadline.tag }}>
      {% endif %}

    <p class="park-comments-form__paragraph">
      <a href="{{ terms.href }}" target="_blank">Beachten Sie dabei bitte unsere Regeln für Leserkommentare</a></p>
    </div>
    <div class="park-comments-form__wrapper park-comments-form__success" aria-hidden="true">
      <p class="park-comments-form__headline "> {{ success.headline }}</p>
      <p class="park-comments-form__paragraph "> {{ success.text }} </p>
    </div>
    <div class="park-comments-form__wrapper park-comments-form__error" aria-hidden="true">
      <p class="park-comments-form__headline "> {{ error.headline }}</p>
      <p class="park-comments-form__paragraph "> {{ error.text }} </p>
    </div>
    <div class="park-comments-form__wrapper park-comments-form__closed" aria-hidden="true">
      <p class="park-comments-form__headline "> {{ closed.headline }}</p>
      <p class="park-comments-form__paragraph "> {{ closed.text }} </p>
    </div>
    <div class="park-comments-form__wrapper park-comments-form__suspended" aria-hidden="true">
      <p class="park-comments-form__headline "> {{ suspended.headline }}</p>
      <p class="park-comments-form__paragraph "> {{ suspended.text|raw }} </p>
    </div>
    <div class="park-comments-form__wrapper park-comments-form__unauthorized" aria-hidden="true">
      <p class="park-comments-form__headline "> {{ unauthorized.headline }}</p>
      <p class="park-comments-form__paragraph "> {{ unauthorized.text|raw }} </p>
    </div>
    <div class="park-comments-form__wrapper">
      {% set form = form|merge({'config': config}) %}
      {% include 'components/form/template.twig' with form only %}
    </div>


  </article>
{% else %}
  <article class="park-comments-form park-comments-form--disabled">
    <div class="park-comments-form__wrapper park-comments-form__closed">
      <p class="park-comments-form__paragraph "> {{ closed.text }} </p>
    </div>
  </article>
{% endif %}
