{% if inline is defined and inline == true %}
  <div class="park-video_embed
    {% if (config.reduced is defined and config.reduced is same as(true)) or (reduced is defined and reduced is same as(true)) %}park-video--reduced{% endif %}">
    <!--[IF !IE]> --><noscript><!-- <![ENDIF]-->
      <a href="{{ href }}"
         class="park-video__fallback"
         target="_blank"
         rel="noopener noreferrer nofollow">{{ title|escape('html') }}</a>
      <!--[IF !IE]> --></noscript><!-- <![ENDIF]-->
    {% if (config.reduced is not defined or config.reduced is not same as(true)) and (reduced is not defined or reduced is not same as(true)) %}
      <iframe allowfullscreen="1" allow="autoplay; encrypted-media" title="{{ type }} video player" src="{{ video.src }}" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;" frameborder="0"></iframe>
    {% else %}
      {% include 'components/image/template.twig' with {
        'src': video.previewimage,
        'alt': title,
        'width': video.width,
        'height': video.height,
        'sizes': { "mobile": "140px", "desktop": "140px" },
        'config': config} %}
      {% include 'components/paywall/template.twig' with { 'config': config} %}
    {% endif %}
  </div>
{% else %}
<article class="park-video-with-caption park-video-brightcove
    {% if (config.reduced is defined and config.reduced is same as(true)) or (reduced is defined and reduced is same as(true)) %}park-video--reduced{% endif %}">
  {% if (config.reduced is not defined or config.reduced is not same as(true)) and (reduced is not defined or reduced is not same as(true)) %}
    <iframe src="{{ video.src }}"
            width="{{ video.width }}"
            height="{{ video.height }}"
            frameborder="0"
            allowfullscreen
            name="{{ name }}"
            title="{{ title }}"
      {% if sandbox is defined and sandbox %}
        sandbox="{{ sandbox }}"
      {% endif %}
      {% if origin is defined and origin %}
      data-origin="{{ origin }}"
      {% endif %}></iframe>

    {% if headline is defined %}
      <div class="park-video-with-caption__caption">
      {% if config.display_video_kicker == 1 %}
        <{{ headline.tag }} class="park-card-video__headline">
        {% if kicker is defined and kicker.text is defined and kicker.text %}
          <span class="park-card-video__kicker">{{ kicker.text | raw }}</span>
        {% endif %}
        {% if headline is defined and headline.text is defined and headline.text %}
          <span class="park-card-video__headline">{{ headline.text }}</span>
        {% endif %}
        </{{ headline.tag }}>
      {% else %}
        <{{ headline.tag }} class="park-video-with-caption__headline">
        {{ headline.text | raw }}
        </{{ headline.tag }}>
      {% endif %}
    {% endif %}
    {% include 'components/date/template.twig' with {'timestamp': timestamp, 'config': config} only %}
    <div class="park-video-with-caption__text">{% markdown %}{{ text }}{% endmarkdown %}</div>
    <footer class="park-video-with-caption__footer">
      {% if (config.output is not defined or config.output is not same as('webview')) %}
        {% include 'components/social-buttons/template.twig' with {'config': config} only %}
      {% endif %}
      {% include 'components/back-to-article/template.twig' with {'config': config} only %}
    </footer>
    {% if headline is defined %}
      </div>
    {% endif %}
  {% else %}
    {% include 'components/image/template.twig' with {
      'src': video.previewimage,
      'alt': title,
      'width': video.width,
      'height': video.height,
      'sizes': { "mobile": "140px", "desktop": "140px" },
      'config': config} %}

    {% if headline is defined %}
      <div class="park-video-with-caption__caption">
      {% if config.display_video_kicker == 1 %}
        <{{ headline.tag }} class="park-card-video__headline">
        {% if kicker is defined and kicker.text is defined and kicker.text %}
          <span class="park-card-video__kicker">{{ kicker.text | raw }}</span>
        {% endif %}
        {% if headline is defined and headline.text is defined and headline.text %}
          <span class="park-card-video__headline">{{ headline.text }}</span>
        {% endif %}
        </{{ headline.tag }}>
      {% else %}
        <{{ headline.tag }} class="park-video-with-caption__headline">
        {{ headline.text | raw }}
        </{{ headline.tag }}>
      {% endif %}
    {% endif %}
    {% include 'components/date/template.twig' with {'timestamp': timestamp, 'config': config} only %}
    <div class="park-video-with-caption__text">{% markdown %}{{ text }}{% endmarkdown %}</div>
    {% if headline is defined %}
      </div>
    {% endif %}
    {% include 'components/paywall/template.twig' with { 'config': config} %}
  {% endif %}
  </article>
{% endif %}