<div class="park-user-menu">
  <a href="{{ href }}"
     rel="nofollow"
     class="park-user-menu__link"
     {% if text is defined and text %}
       data-initial-label="{{ text|escape('html_attr') }}"
     {% endif %}
     >{% include 'svg/user.svg' %}<span class="park-user-menu__link-text">{{ text|default('Anmelden') }}</span></a>
  <div class="park-user-menu__property_bag"></div>
  <button type="button"
          aria-controls="park-user-menu__list"
          aria-expanded="false"
          class="park-user-menu__toggle"><span
      class="park-user-menu__label">Benutzermenü aufklappen</span></button>
  <ul id="park-user-menu__list"
      aria-hidden="true"
      class="park-user-menu__list">
    {% if (config.appMode is not defined or not config.appMode) and (config.notifications is defined and config.notifications.distribution is defined and config.notifications.distribution.onsite is defined and config.notifications.distribution.onsite) %}
      <li class="park-user-menu__item park-user-menu__item--notification">
        <a href="#park-notification-panel"
           class="park-user-menu__item-link"
           aria-controls="park-notification-panel"
           aria-expanded="false">Benachrichtigungen</a>
      </li>
    {% endif %}
    {% for item in items %}
      <li class="park-user-menu__item">
        <a href="{{ item.href }}"
           rel="nofollow"
           class="park-user-menu__item-link">{{ item.text }}</a>
      </li>
    {% endfor %}
    <li class="park-user-menu__item park-user-menu__item--login">
      <a href="{{ login.href }}"
         rel="nofollow"
         class="park-user-menu__item-link">{{ login.text }}</a>
    </li>
    <li class="park-user-menu__item park-user-menu__item--logout">
      <a href="{{ logout.href }}"
         rel="nofollow"
         class="park-user-menu__item-link">{{ logout.text }}</a>
    </li>
  </ul>
</div>