<article class="park-video-with-caption
  {% if (config.reduced is defined and config.reduced is same as(true)) or (reduced is defined and reduced is same as(true)) %}park-video--reduced{% endif %}">
  {% if (config.reduced is not defined or config.reduced is not same as(true)) and (reduced is not defined or reduced is not same as(true)) %}
    {% set uuid = random() %}
    {% include 'components/third-party-activator/template.twig' with {
      'src': './assets/images/youtube-preview.jpg',
      'name': 'Youtube',
      'children': [
        {
          'component': 'video',
          'data': {
            'src': video.src,
            'id': video.id,
            'doNotTrack': false,
            'config': config
          }
        }
      ],
      'config': config
    } only %}
  {% if (isAd is not defined or isAd is same as(false)) and not target %}
      <aside class="park-video-with-caption__user-actions">
        {% include 'components/button-bookmark/template.twig' with {'id': id, 'config': config} only %}
      </aside>
    {% endif %}
    <div class="park-video-with-caption__caption">
      {% if config.display_video_kicker == 1 %}
        <{{ headline.tag }} class="park-card-video__headline">
          {% if kicker is defined and kicker.text is defined and kicker.text %}
            <span class="park-card-video__kicker">{{ kicker.text | raw }}</span>
          {% endif %}
          {% if headline is defined and headline.text is defined and headline.text %}
            <span class="park-card-video__headline">{{ headline.text }}</span>
          {% endif %}
        </{{ headline.tag }}>
      {% else %}
        <{{ headline.tag }} class="park-video-with-caption__headline">
          {{ headline.text | raw }}
        </{{ headline.tag }}>
      {% endif %}
      {% include 'components/date/template.twig' with {'timestamp': timestamp, 'config': config} only %}
      <div class="park-video-with-caption__text">{% markdown %}{{ text }}{% endmarkdown %}</div>
      <footer class="park-video-with-caption__footer">
        {% if (config.output is not defined or config.output is not same as('webview')) %}
          {% include 'components/social-buttons/template.twig' with {'config': config} only %}
        {% endif %}
        {% include 'components/back-to-article/template.twig' with {'config': config} only %}
      </footer>
    </div>
  {% else %}
    {% include 'components/paywall/template.twig' with { 'config': config} %}
  {% endif %}
</article>
